<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/users">Users</a></li>
        <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
      </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>

    <!-- <div class="row">
         
    </div>
     <div class="row">
         
    </div>
    <div class="row" *ngFor="let res of data">
        <div class="col-md-3">
               {{res.id}} - {{res.title}}
        </div>
        <button (click)="getPostById(res.id)">Edit</button>
        <div class="col-md-3">
                
        </div>
    </div>
<button (click)="addPost()">Add</button>
    <button (click)="addPost()">Add</button> -->
</div>




