<p>test works!</p>
<h1>Products page</h1>
<li routerLinkActive="active"><a routerLink="users">Reload Users</a></li>
<!-- <span *ngIf="isShown">{{student}}</span>
<ul *ngFor="let data of studentList">
    <li>{{data.name}}-{{data.id}}</li>
</ul>
<br>
<button (click)="onStateChanged(isShown)" style="background-color: violet">{{isShown? 'Hide':'Show'}}</button>

<hr>


<input type="text" [(ngModel)]="data">
<hr>
<label *ngIf="isShown">{{data}}</label>
<button   (click)="onClicked($event,data)">Add</button> -->